<ion-row>
    <ion-col>
      <ion-label color="primary" style="text-align:center"><h2>Select Time</h2></ion-label>
            <ion-grid>
               <ion-row>
                 <ion-col style="text-align:center;padding-bottom:0px;" (click)="incHr()" *ngIf="arrow_up_hrs==0">
                    <ion-icon ios="ios-arrow-up" md="md-arrow-up"  style="color:#000000"></ion-icon>
                 </ion-col >
                 <ion-col style="text-align:center;padding-bottom:0px;"  *ngIf="arrow_up_hrs==1">
                  <ion-icon ios="ios-arrow-up" md="md-arrow-up" style="color:lightgrey" ></ion-icon>
               </ion-col >
                 <ion-col style="text-align:center;padding-bottom:0px;" (click)="incMin()"  *ngIf="arrow_up_mins==0">
                    <ion-icon ios="ios-arrow-up" md="md-arrow-up" style="margin-left:18px;color:#000000"></ion-icon>
                 </ion-col>
                 <ion-col style="text-align:center;padding-bottom:0px;"   *ngIf="arrow_up_mins==1">
                  <ion-icon ios="ios-arrow-up" md="md-arrow-up" style="margin-left:18px;color:lightgray"></ion-icon>
               </ion-col>
                 <ion-col style="padding-bottom:0px;">
                   <ion-label></ion-label>
                 </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col style="padding-top:0px;max-width:40%;padding-right:0px;">
                    <ion-item no-lines style="border:1px solid black; border-radius:2px;text-align:center;width:70%;float:left">
                      <ion-label>{{hrs}}</ion-label>
                    </ion-item>
                    <ion-label style="font-weight:bold;float:left;font-size:2rem;margin:11px 8px 13px 9px">:</ion-label>
                  </ion-col>
                  <ion-col style="padding-top:0px;max-width:30%">
                      <ion-item no-lines style="border:1px solid black; border-radius:2px;text-align:center">
                        <ion-label>{{mins}}</ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col style="padding-top:0px;max-width:30%">
                        <ion-item no-lines style="border:1px solid black; border-radius:2px;text-align:center">
                          <ion-label color="primary">{{apm}}</ion-label>
                        </ion-item>
                      </ion-col>
               </ion-row>
               <ion-row>
                  <ion-col style="text-align:center" (click)="decHr()" *ngIf="arrow_down_hrs==0">
                      <ion-icon ios="ios-arrow-down" md="md-arrow-down"  style="color:#000000" ></ion-icon>
                  </ion-col>
                  <ion-col style="text-align:center" *ngIf="arrow_down_hrs==1">
                    <ion-icon ios="ios-arrow-down" md="md-arrow-down" style="color:lightgrey"></ion-icon>
                </ion-col>
                  <ion-col style="text-align:center" (click)="decMin()"  *ngIf="arrow_down_mins==0">
                      <ion-icon ios="ios-arrow-down" md="md-arrow-down"  style="margin-left:18px;color:#000000"></ion-icon>
                  </ion-col>
                  <ion-col style="text-align:center"   *ngIf="arrow_down_mins==1">
                    <ion-icon ios="ios-arrow-down" md="md-arrow-down"  style="margin-left:18px;color:lightgrey"></ion-icon>
                </ion-col>
                  <ion-col>
                    <ion-label></ion-label>
                  </ion-col>
                </ion-row>
            </ion-grid>
      
    </ion-col>
  </ion-row>
  <ion-row style="border-top:1px solid gray">
      <ion-col style="text-align:center">
        <button ion-button outline (click)="close()" style="border:none;">Cancel</button>
      </ion-col>
      <ion-col style="text-align:center">
        <button ion-button outline (click)="setTime()" style="border:none;">Set</button>
      </ion-col>
  </ion-row>
  
  